.chat-main
  .chat-main__group-info
    .left-header
      .group-title
        test
      .group-member
        member:
    .right-header
      .group-edit-btn
        = link_to "#", class:"edit" do
          edit

  .chat-main__massage-list
    .chat-box
        .chat-name masa
        .chat-date 2019/11/20(Wed) 17:43:01
      .chat-box__message おはよう！

    .chat-box
      .chat-box__top
        .chat-name masa
        .chat-date 2019/11/20(Wed) 17:43:01
      .chat-box__message 今日は夜から雨
  .chat-main__massage-form
    .input__box
      %input{type: "text", class:"input__box__text",placeholder:"type a message"}
      %label{class: "input__box__image"}
        = icon('fas','image')
        %input{type:"file", class:"input__box__image--file"}
    %input{type:"submit",class:"submit-btn"}  


